name: Test and build

on:
  pull_request:
    branches:
      - main

jobs:
  check-lint:
    name: Check lint and formatting

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Node.js dependencies
        uses: bahmutov/npm-install@v1

      - run: npm run lint:check

  test-code:
    name: Test code

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Node.js dependencies
        uses: bahmutov/npm-install@v1

      - run: npm test

  test-action: # make sure the action works on a clean machine without building
    name: Test action

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          working-directory: demo

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Node.js dependencies
        uses: bahmutov/npm-install@v1

      - run: npm run package
